global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
{% for host in groups['webservers'] %}
      - targets: ['{{ hostvars[host]['ansible_default_ipv4']['address'] }}:9100']
{% endfor %}

  - job_name: 'nextjs-app'
    static_configs:
{% for host in groups['webservers'] %}
      - targets: ['{{ hostvars[host]['ansible_default_ipv4']['address'] }}:3000']
{% endfor %}